@model DOF003.Models.DOF003_SurveyMaster

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DOF003_SurveyMaster</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SurveyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SurveyDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffectedPerson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffectedPerson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuardianName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuardianName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profession)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profession)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonNid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonNid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoldingNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoldingNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoadNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoadNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectorNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Union)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Union)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Upazila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Upazila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.District)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.District)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffectedPersonType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffectedPersonType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDamagedInfraList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDamagedInfraList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfDamagedInfraOther)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfDamagedInfraOther)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTreeAffected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTreeAffected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffectedPlotLatitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffectedPlotLatitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffectedPlotLongitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffectedPlotLongitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotSectorNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotSectorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotUnion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotUnion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotUpazila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotUpazila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotDistrict)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotDistrict)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotOwnerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotOwnerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlotOwnerContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlotOwnerContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SurveyMasterID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
