@using Resources;
@using Microsoft.AspNet.Identity;

<li class="dropdown">
    @if (Request.IsAuthenticated)
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
                <img src="~/Content/images/avatar.jpg">
            </span>
            @User.Identity.GetUserName()
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
            <span class="arrow top"></span>
            <li> <a href="@Url.Action("Manage", "Account")">@Resources.ChangePassword</a> </li>
            <li> <a href="#">@Resources.Profile</a> </li>
            <li> <a href="javascript:void(0);" onclick="GetHelp();">@Resources.Help</a> </li>
            <li class="divider"></li>
            <li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()"
                       style="padding: 5px 15px; clear: both; color: #333; display: block; font-weight: normal;line-height: 1.42857;">
                        @Resources.LogOff
                    </a>
                }
            </li>
        </ul>
    }
    else
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
                <img src="~/Content/images/avatar_default.jpg">
            </span>
            @Resources.User
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight">
            <span class="arrow top"></span>
            <li> <a href="@Url.Action("Manage", "Account")">@Resources.ChangePassword</a> </li>
            <li> <a href="#">@Resources.Profile</a> </li>
            <li> <a href="javascript:void(0);" onclick="GetHelp();">@Resources.Help</a> </li>
            <li class="divider"></li>
            <li>
                @Html.ActionLink(Resources.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </li>
        </ul>
    }
</li>
<script src="~/Scripts/js/intro/intro.js"></script>